<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>my_first_ios_game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA1E387F1E9205C40011204A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1E38991E9205C40011204A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1E38A41E9205C40011204A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
